*{
    margin: 0px;
    padding: 0px;
}
#main{
    background-color: rgb(241, 234, 234);
    height: 870px;
}
#index{
    background-color:rgb(241, 234, 234);
    
}
.navbar{
    background-color: rgb(0,0,0,0.7);
    display: flex;
   justify-content: space-between;
   align-items: center;
    
}
.navbar ul{
    padding: 20px;
    display: flex;
    
}
.navbar li{
    list-style-type: none;
    padding: 20px;
}
.navlink{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 7px;
}
#logo{
    text-decoration: none;
    font-size: 40px;
    padding: 7px;
    color: aquamarine;
    
}
.navlink:hover{
    border-bottom: 2px solid red;
    color: greenyellow;
    transition: all .5s;
}
#heading{
    font-size: 40px;
    color: aquamarine;
    font-family: cursive;
    padding-left: 10px;
    position: relative;
}


/* Home Area */

.details{
    margin-left: 8%;
    display: flex;
   
}
.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: greenyellow;
}
.details p{
    color: rgb(78, 80, 79);
    line-height: 22px;
    font-size: 18px;
}
.details a{
    background-color: rgb(0,0,0,0.8);
    padding: 12px 22px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 8px;
}
.details a:hover{
    color: greenyellow;
    border: 1px solid rgb(56, 245, 56);
    transform: scale(0.98);
}
.divi{
    
    margin-top: 13%;
}
.divi2{
    margin-left: 27%;
    margin-top: 70px;
    position: relative;
    
}
.img2{
    height: 550px;
    width: 500px;
    margin: 20px;
    border: 2px solid rgb(53, 236, 53);
    border-radius: 50px;
}
.img2:hover{
    transform: scale(1.02);
    transition: all .5s;

}

@media (max-width: 640px) {
    .main {
      text-align: center;
    }
  
    .index {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }
  }

  /* Portfolio */

.portfolio{
    height: 700px;
    width: 100%;
    background-color: rgb(241, 234, 234);
}
.pdiv3{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.pdiv1{
    background-color: #898888;
    display: inline-block;
    text-align: center;
    height: 450px;
    width: 500px;
    padding: 3%;
    margin-left: 7%;
    border-radius: 30px;

}
.ph1{
    color: greenyellow;
    margin: 30px;
    font-size: 40px;
}
.ph3{
    color:rgb(53, 236, 53) ;
    margin: 20px;
}
.spa{
    font-size: 18px;
    color:greenyellow ;
}

/* Education Page */

#education{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.div1{
    height: 200px;
    width: 600px;
    background-color: #898888;
    color:greenyellow ;
    margin-left: 30px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
}
.h2h{
    margin: 5%;
    margin-left: 50px;
    font-size: 30px;
}
#div11{
    margin-left: 7%;
}
#div22{
    margin-left: 7%;
}
.txt{
    line-height: 25px;
    font-size: 17px;
}
.txt{
    color: rgb(38, 240, 172);
}

/* About Us Area */
#about{
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 700px;
}

.image{
    width: 600px;
    height: 700px;
    
}
.txt2{
    height: 400px;
    width: 750px;
    margin-top: 150px;
    padding: 20px;
}
.img1{
    height: 550px;
    width: 450px;
    margin-top: 10%;
    margin-left: 9%;
    border-radius: 25px;
    border: 2px solid rgb(52, 243, 52);
}
.habout{
    font-size: 30px;
    margin: 10px;
}
.para{
    padding: 10px;
}
#sp1{
    color: greenyellow ;
}

/* contact Area*/

#contact{
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 79, 79);
}
 .heading1{
        margin: 50px;
        color: aliceblue;
        font-size: 50px;
        text-align: center;
        color: greenyellow; 
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}
.btn2{
    font-size: 15px;
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 15px;
    font-weight: bold;
    background-color: greenyellow;
    color: white;
    border: none;
    outline: none;
}
.btn2:hover{
    background-color: rgb(35, 232, 35);
    color: ghostwhite;
    transition: all .5s;
}

/* footer css */

#footer{
    width: auto;
    height: 150px;
    background-color: rgb(0,0,0,0.8);
}
.footer-logo{
   
    color: greenyellow;
    text-align: center;
    position: relative;
    padding: 10px;
}
.text-footer{
    color: rgb(225, 222, 222);
    text-align: center;

}
#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.fa {
  padding: 20px;
text-align: center;
  margin: 6px 6px;
  font-size: 20px;
  width: 15px;
  border-radius: 20px;
}
.fa:hover{
    scale: 1.03;
}
.fa-facebook {  
  background: #3B5998;  
  color: white; 
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-instagram {  
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    
    
}

/* facefont family */


/* @font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

.text-footer {
  font-family: "Bitstream Vera Serif Bold", serif;
} */



@font-face {
    font-family: myFirstFont;
    src: url(../Font/CoffeCake.otf);
  }
  
  .text-footer{
    font-family: myFirstFont;
  }


  /* validation css */
  .error{
    color: red;
}



